# Obtaining Your Data - Lab

## Introduction
In this lab you'll practice your munging and transforming skills in order to load in your data to solve a regression problem.

## Objectives
You will be able to:
* Understand the ETL process and the steps it consists of
* Understand the challenges of working with data from multiple sources

## Task Description

You just got hired by Lego! Your first project is going to be to develop a pricing algorithm to help set a target price for new lego sets that are released to market. To do this, you're first going to need to start mining the company database in order to collect the information you need to develop a model.

Start by investigating the database stored in lego.db and joining the tables into a unified dataset!

> **Hint:** use this sql statement to preview the tables in an unknown database:
```sql
SELECT name FROM sqlite_master
             WHERE type='table'
             ORDER BY name;
```

In [9]:
# Your code here
import sqlite3
import pandas as pd

In [10]:
conn = sqlite3.connect('lego.db')
c = conn.cursor()

In [12]:
c.execute('''
SELECT pd.*, pi.*, pp.*, pr.*
FROM product_details pd, product_info pi, product_pricing pp, product_reviews pr
WHERE pd.prod_id = pi.prod_id
AND pi.prod_id = pp.prod_id
AND pp.prod_id = pr.prod_id
''')

df = pd.DataFrame(c.fetchall())
df.columns = [i[0] for i in c.description]
print(df.shape)
df.head()

(10870, 17)

,prod_id,prod_desc,prod_long_desc,theme_name,prod_id,ages,piece_count,set_name,prod_id,country,list_price,prod_id,num_reviews,play_star_rating,review_difficulty,star_rating,val_star_rating
0,75823,blah,blahblah,Angry Birds™,75823,6-12,277,Bird Island Egg Heist,75823,US,29.99,75823,2.0,4.0,Average,4.5,4.0
1,75822,blah,blahblah,Angry Birds™,75822,6-12,168,Piggy Plane Attack,75822,US,19.99,75822,2.0,4.0,Easy,5.0,4.0
2,75821,blah,blahblah,Angry Birds™,75821,6-12,74,Piggy Car Escape,75821,US,12.99,75821,11.0,4.3,Easy,4.3,4.1
3,21030,blah,blahblah,Architecture,21030,12+,1032,United States Capitol Building,21030,US,99.99,21030,23.0,3.6,Average,4.6,4.3
4,21035,blah,blahblah,Architecture,21035,12+,744,Solomon R. Guggenheim Museum®,21035,US,79.99,21035,14.0,3.2,Challenging,4.6,4.1

## Summary
Nice work! You're working more and more independently through the workflow and ensuring data integrity!